<p id="notice"><%= notice %></p>

<div class="container">
  <h2 class="partitipants-title">Participants</h2>

  <%= link_to 'New Participant', new_participant_path %>

  <table class="form-table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Nationality</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.firstname %></td>
          <td><%= participant.lastname %></td>
          <td><%= participant.birthdate %></td>
          <td><%= participant.nationality %></td>
          <td><%= link_to 'Show', participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="container"><div class="container">
