<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Firstname:</strong>
    <%= @participant.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @participant.lastname %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @participant.birthdate %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= @participant.nationality %>
  </p>

  <p>
    <% if @participant.avatar? %>
    <strong>Avatar:</strong>
    <%= image_tag @participant.avatar.thumb.url %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_participant_path(@participant) %> |
  <%= link_to 'Back', participants_path %>
</div>
